body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.primary-button {
    background: #000000;
    color: #FFFFFF;
    padding: 1vh;
    border-radius: 1vh;
    text-decoration: none;
    font-size: 3vh;
}

h1 {
    font-size: 5vh;
}

p {
    font-size: 1vh;
}