extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='https://oddtest.herokuapp.com') oddtest home <br><br>
  a(href='https://oddtest.herokuapp.com/odd/test.html') oddtest test
  