extends layout

block content
  h1="Get the Fit With Friends app"
  <br>
  a(class='primary-button' href=appStoreUrl) Download from App Store
  <br><br>
  p Already have the app? <br>
    a(href=appDeeplink) Open it now