extends layout

block content
  style.
    .privacy-container {
      width: 100%;
      max-width: 800px;
      padding: 40px 20px;
      font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 1.6;
      color: #222;
    }
    .privacy-container h1 {
      font-size: 28px;
      margin-bottom: 4px;
    }
    .privacy-container h2 {
      font-size: 18px;
      margin-top: 32px;
      margin-bottom: 8px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 4px;
    }
    .privacy-container p {
      font-size: 15px;
      margin: 12px 0;
    }
    .privacy-container ol {
      padding-left: 24px;
    }
    .privacy-container ol li {
      margin: 6px 0;
    }
    .privacy-container ul {
      padding-left: 24px;
    }
    .privacy-container ul li {
      margin: 6px 0;
    }
    .privacy-container .last-updated {
      color: #666;
      font-size: 13px;
      margin-bottom: 24px;
    }
    .privacy-container .contact-block {
      margin-top: 8px;
    }

  .privacy-container
    h1 Fit With Friends Privacy Policy
    p.last-updated Last updated April 23, 2022

    p
      | Fit With Friends ("we" or "us" or "our") respects the privacy of our users ("user" or "you"). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our mobile application (the "Application"). Please read this Privacy Policy carefully.
      strong IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE APPLICATION.

    p We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the "Last updated" date of this Privacy Policy. You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Application after the date such revised Privacy Policy is posted.

    p This Privacy Policy does not apply to the third-party online/mobile store from which you install the Application or make payments, including any in-game virtual items, which may also collect and use data about you. We are not responsible for any of the data collected by any such third party.

    p This privacy policy was created using Termly.

    h2 Collection of Your Information

    p We may collect information about you in a variety of ways. The information we may collect via the Application depends on the content and materials you use, and includes:

    p
      strong Personal Data
    p Demographic and other personally identifiable information (such as your name and email address) that you voluntarily give to us when choosing to participate in various activities related to the Application, such as chat, posting messages in comment sections or in our forums, liking posts, sending feedback, and responding to surveys. If you choose to share data about yourself via your profile, online chat, or other interactive areas of the Application, please be advised that all data you disclose in these areas is public and your data will be accessible to anyone who accesses the Application.

    p
      strong Derivative Data
    p Information our servers automatically collect when you access the Application, such as your native actions that are integral to the Application, including liking, re-blogging, or replying to a post, as well as other interactions with the Application and other users via server log files.

    p
      strong Geo-Location Information
    p We may request access or permission to and track location-based information from your mobile device, either continuously or while you are using the Application, to provide location-based services. If you wish to change our access or permissions, you may do so in your device's settings.

    p
      strong Mobile Device Access
    p We may request access or permission to certain features from your mobile device, including your mobile device's sensors, storage, and other features. If you wish to change our access or permissions, you may do so in your device's settings.

    p
      strong Mobile Device Data
    p Device information such as your mobile device ID number, model, and manufacturer, version of your operating system, phone number, country, location, and any other data you choose to provide.

    p
      strong Push Notifications
    p We may request to send you push notifications regarding your account or the Application. If you wish to opt-out from receiving these types of communications, you may turn them off in your device's settings.

    p
      strong Third-Party Data
    p Information from third parties, such as personal information or network friends, if you connect your account to the third party and grant the Application permission to access this information.

    h2 Use of Your Information

    p Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the Application to:

    ol
      li Administer sweepstakes, promotions, and contests.
      li Assist law enforcement and respond to subpoena.
      li Compile anonymous statistical data and analysis for use internally.
      li Create and manage your account.
      li Enable user-to-user communications.
      li Fulfill and manage purchases, orders, payments, and other transactions related to the Application.
      li Generate a personal profile about you to make future visits to the Application more personalized.
      li Increase the efficiency and operation of the Application.
      li Monitor and analyze usage and trends to improve your experience with the Application.
      li Notify you of updates to the Application.
      li Offer new products, services, mobile applications, and/or recommendations to you.
      li Perform other business activities as needed.
      li Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.
      li Process payments and refunds.
      li Request feedback and contact you about your use of the Application.
      li Resolve disputes and troubleshoot problems.
      li Respond to product and customer service requests.
      li Send you a newsletter.
      li Solicit support for the Application.

    h2 Disclosure of Your Information

    p We may share information we have collected about you in certain situations. Your information may be disclosed as follows:

    p
      strong By Law or to Protect Rights
    p If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation. This includes exchanging information with other entities for fraud protection and credit risk reduction.

    p
      strong Third-Party Service Providers
    p We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.

    p
      strong Interactions with Other Users
    p If you interact with other users of the Application, those users may see your name, profile photo, and descriptions of your activity, including sending invitations to other users, chatting with other users, liking posts, following blogs.

    p
      strong Sale or Bankruptcy
    p If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may transfer your information to the successor entity. If we go out of business or enter bankruptcy, your information would be an asset transferred or acquired by a third party. You acknowledge that such transfers may occur and that the transferee may decline to honor commitments we made in this Privacy Policy.

    p We are not responsible for the actions of third parties with whom you share personal or sensitive data, and we have no authority to manage or control third-party solicitations. If you no longer wish to receive correspondence, emails or other communications from third parties, you are responsible for contacting the third party directly.

    h2 Third-Party Websites

    p The Application may contain links to third-party websites and applications of interest, including advertisements and external services, that are not affiliated with us. Once you have used these links to leave the Application, any information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the safety and privacy of your information. Before visiting and providing any information to any third-party websites, you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that website, and should take those steps necessary to, in your discretion, protect the privacy of your information. We are not responsible for the content or privacy and security practices and policies of any third parties, including other sites, services or applications that may be linked to or from the Application.

    h2 Security of Your Information

    p We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot guarantee complete security if you provide personal information.

    h2 Policy for Children

    p We do not knowingly solicit information from or market to children under the age of 13. If you become aware of any data we have collected from children under age 13, please contact us using the contact information provided below.

    h2 Options Regarding Your Information

    p You may at any time review or change the information in your account or terminate your account by:

    ul
      li Logging into your account settings and updating your account
      li Contacting us using the contact information provided below

    p Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.

    h2 California Privacy Rights

    p California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.

    p If you are under 18 years of age, reside in California, and have a registered account with the Application, you have the right to request removal of unwanted data that you publicly post on the Application. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Application, but please be aware that the data may not be completely or comprehensively removed from our systems.

    h2 Contact Us

    p If you have questions or comments about this Privacy Policy, please contact us at:

    .contact-block
      p Fit With Friends
      p
        a(href='mailto:fitwithfriendsapp@gmail.com') fitwithfriendsapp@gmail.com
